@page
@model DisasterRecovery.Pages.MachineCodeManagement.DeleteModel
@{
    ViewData["Title"] = "Delete Machine Code";
}

<div>
    <a asp-page="./Index"><img style="height: 30px; width: 30px;" src="https://static.thenounproject.com/png/251451-200.png" /></a>
</div>
<br />
<h2><b>@ViewData["Title"]</b></h2>
<hr />
@if (Model.ErrorMessage != "")
{
    <div class="alart alert-danger p-3" role="alert">
        <b>Server Error: </b>@Model.ErrorMessage
    </div>
    <br />
}
<h3>Are you sure you want to delete <span class="text-danger"><b>@Html.DisplayFor(model => model.machineCode.MachineCodeName)</b></span> from the Machine Code List?</h3>
<br />
<form method="post">
    <input type="hidden" asp-for="machineCode.MachineCodeID" />
    <button type="submit" class="btn btn-danger"><b><i class="bi bi-trash"></i>&nbsp;Delete</b></button>
    @* <input type="submit" value="Delete" class="btn btn-danger" /> *@
</form>
