@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Style this page as you want</p>
    <a asp-area="" asp-page="/Dashboard" class="btn btn-outline-primary"><b>Go to Dashboard</b></a>
</div>
