@page
@model DisasterRecovery.Pages.UserManagement.DeleteContractorModel
@{
}


<div class="form-container">
    <h3>Are you sure you want to delete this Contractor?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contractor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contractor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contractor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contractor.LastName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Contractor.ContractorID" />
        <input type="submit" value="Delete" class="btn btn-outline-primary" />
    </form>

    <br />
    <div>
        <a asp-page="./ContractorManagement">Back to List</a>
    </div>
</div>
