@page
@model DisasterRecovery.Pages.Dashboard.ContractorModel
@{
    ViewData["Title"] = "Contractor Dashboard";
}

<h1><b>Contractor Dashboard</b></h1>
<section class="text-center">
    <div class="row">

        <div class="col-lg-3 mb-4">
            <div class="card">
                <div class="p-3 badge-primary rounded-4">
                    <a asp-area="" asp-page="/TimesheetSubmission/Index">
                        <img height="150" class="card-img-top dash-img" src="/images/Contractor/timesheet.jpeg" />
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Timesheet Submissions</h5>
                </div>
            </div>
        </div>

    </div>

</section>

